/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border-color:transparent !important;
}

.nav-tabs{
	border-bottom:none !important;	
}*/


.booking-widget{
	background: #4B565B;
	padding: 15px;
}